.app-footer {
    background-color: #333; /* Couleur de fond */
    color: #fff; /* Couleur du texte */
    padding: 20px;
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .social-icons a {
    color: #fff; /* Couleur des icônes */
    text-decoration: none;
    font-size: 20px;
    margin: 0 5px; /* Marge entre les icônes */
  }
  
  .social-icons a:hover {
    color: #ffc107; /* Couleur au survol */
  }
  