<h2 mat-dialog-title>Edit Fournisseur</h2>
<div mat-dialog-content>
  <form [formGroup]="editFournisseurForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Nom Société</mat-label>
      <input matInput formControlName="nomSociete" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Adresse Société</mat-label>
      <input matInput formControlName="adresseSociete" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Téléphone Société</mat-label>
      <input matInput formControlName="telephoneSociete" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Email Société</mat-label>
      <input matInput formControlName="emailSociete" required>
    </mat-form-field>

    <div mat-dialog-actions>
      <button mat-button [mat-dialog-close]="true">Cancel</button>
      <button mat-button type="submit" color="primary" [disabled]="!editFournisseurForm.valid">Save</button>
    </div>
  </form>
</div>
