<app-header></app-header>

<div class="video-container">
  <video autoplay muted loop id="video-background">
    <source src="assets/videos/fournisseurs.mp4" type="video/mp4">
    <!-- Ajoutez d'autres sources vidéo si nécessaire -->
  </video>
  <mat-list>
    <mat-list-item *ngFor="let client of clients">
      <div class="client-item">
        <div mat-line>{{ client.id_fourn }}</div>
        <div>
          <button mat-icon-button color="primary" (click)="startEditingClient(client.id_client)">
            <mat-icon>edit</mat-icon>
          </button>        
          <button mat-icon-button color="warn" (click)="deleteClient(client.id_client)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </mat-list-item>
  </mat-list>
</div>




<button mat-raised-button color="primary" (click)="addClient()">Add Client</button>