<app-headr></app-headr>
<mat-list>
  <mat-list-item>
    <div class="client-item header">
      <div mat-line>Nom Société</div>
      <div mat-line>Adresse Société</div>
      <div mat-line>Mobilite</div>
      <div mat-line>Téléphone Société</div>
      <div mat-line>Email Société</div>
      <div mat-line>Actions</div>
    </div>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item *ngFor="let fournisseur of fournisseurs">
    <div class="client-item">
      <div mat-line>{{ fournisseur.nomSociete }}</div>
      <div mat-line>{{ fournisseur.adressFourn }}</div>
      <div mat-line>{{ fournisseur.mobilite }}</div>
      <div mat-line>{{ fournisseur.telFourn }}</div>
      <div mat-line>{{ fournisseur.emailFourn }}</div>
      <div>
        <button mat-icon-button color="primary" (click)="startEditingFournisseur(fournisseur.idFourn)">
          <mat-icon>edit</mat-icon>
        </button>        
        <button mat-icon-button color="warn" (click)="deleteFournisseur(fournisseur.idFourn)">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button color="accent" (click)="showHistoriqueAchats(fournisseur.idFourn)">
          <mat-icon>history</mat-icon>
        </button>
      </div>
    </div>
  </mat-list-item>
</mat-list>

<button mat-raised-button color="primary" (click)="addFournisseur()">Add Fournisseur</button>
<app-footr></app-footr>