<header class="header">
    <div class="logo">Mon Logo</div>
    <div class="search-bar">
      <mat-form-field appearance="outline">
        <input matInput placeholder="Rechercher...">
      </mat-form-field>
      <button mat-icon-button class="search-button">
        <mat-icon>search</mat-icon>
      </button>
    </div>
    <div class="menu">
      <button mat-icon-button class="menu-button" (mouseenter)="showMenu = true" (mouseleave)="showMenu = false">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="menu-list" *ngIf="showMenu">
        <button mat-button class="menu-item">Option 1</button>
        <button mat-button class="menu-item">Option 2</button>
        <button mat-button class="menu-item">Option 3</button>
      </div>
    </div>
  </header>
  