<div class="login-container">
  <video autoplay muted loop  id="video-background">
    <source src="assets/videos/login.mp4" type="video/mp4">
    <!-- Ajoutez d'autres sources vidéo si nécessaire -->
  </video>

  <div class="login-container">
    <mat-card class="custom-card">
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <mat-form-field class="custom-input">
            <mat-label>Email</mat-label>
            <input matInput formControlName="Email" placeholder="Email" required>
            <mat-icon matSuffix>account_circle</mat-icon>
          </mat-form-field>
        
          <mat-form-field class="custom-input">
            <mat-label>Password</mat-label>
            <input matInput formControlName="Password" type="password" placeholder="Password" required>
            <mat-icon matSuffix>lock</mat-icon>
          </mat-form-field>
        
          <div class="button-container">
            <button mat-raised-button class="custom-button" type="submit" style="background-color: #b8860b; color: #fff;">Login</button>
          </div>
        </form>
        
      </mat-card-content>
    </mat-card>
  </div>
  
