.app-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #7e8489; /* Header background color */
    color: #fff; /* Text color */
  }
  
  .logo img {
    width: 50px; /* Adjust logo width as needed */
    height: auto; /* Maintain aspect ratio */
  }
  
  .app-name {
    font-size: 24px; /* Adjust font size as needed */
    font-weight: bold; /* Bold font */
  }
  
  .navigation {
    display: flex;
  }
  
  .navigation a {
    color: #fff; /* Link color */
    text-decoration: none; /* Remove underline */
    margin-left: 20px; /* Adjust spacing between links */
    transition: color 0.3s ease; /* Smooth color transition on hover */
  }
  
  .navigation a:hover {
    color: #ffc107; /* Change color on hover */
  }
  
  .search-bar input {
    padding: 8px; /* Input padding */
    margin-right: 10px; /* Adjust spacing */
    border-radius: 4px; /* Rounded corners */
    border: 1px solid #fff; /* White border */
    background-color: transparent; /* Transparent background */
    color: #fff; /* Text color */
  }
  
  .user-profile {
    display: flex;
    align-items: center;
  }
  
  .user-profile span {
    margin-right: 10px;
  }
  