<header class="app-header">
  <div class="logo">
    <img src="assets/logotest.png">
  </div>
  <div class="app-name">
    My Stock 
  </div>
  <nav class="navigation">
    <a routerLink="/accueil">Accueil</a>
    <a routerLink="/produits">Produits</a>
    <a routerLink="/commandes">Clients</a>
    <a routerLink="/factures">Factures</a>
    <a routerLink="/bons">Bons d'achats</a>
    <a routerLink="/fournisseurs">Fournisseurs</a>
    <a routerLink="/utilisateurs">Gestions d'utilisateurs</a>
  </nav>
  <mat-form-field class="search-bar">
    <input matInput type="text" placeholder="Rechercher...">
    <button mat-button matSuffix>
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
  <div class="user-profile">
    <button>Se Déconnecter</button>
  </div>
</header>
