<app-headr></app-headr>
<div>
  <h2>Liste des Factures</h2>
  <table>
    <thead>
      <tr>
        
        <th>#</th>
        <th>Date</th>
        <th>Mode de Paiement</th>
        <th>Montant</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let facture of factures">
        <td>{{ facture.idFacture }}</td>
        <td>{{ facture.dateFacture | date: 'shortDate' }}</td>
        <td>{{ facture.modePaiment }}</td>
        <td>{{ facture.montantFacture }}</td>
        <td>
          <!-- Ajoutez les boutons d'action ici, tels que Modifier et Supprimer -->
          <button (click)="onEdit(facture)">Modifier</button>
          <button (click)="onDelete(facture.idFacture)">Supprimer</button>
          <button (click)="onPrint(facture)">Telecharger</button>
          <!-- Ajoutez d'autres boutons d'action selon vos besoins -->
        </td>
      </tr>
    </tbody>
  </table>
</div>
<app-footr></app-footr>
